* {
	margin: 0px;
}

.login-container {
	display: flex;
	height: 100vh;
	align-items: center;
	background-color : red;
	justify-content: center;
	position: relative;

}
.login-container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#ebebeb;
	height : 500px;
	width : 370px;
	padding : 10px;
	border-radius: 12px;
}
.login-container__input[type="text"] {
	padding: 10px;
	margin-bottom: 10px;
	width : 300px;
}
.login-container__input[type="password"] {
	display: inline-block;
	padding: 10px;
	margin-bottom: 10px;
	width : 300px;
}
.login-btn {
	padding : 10px;
	width: 325px;
	background-color : red;
	border: none;
	color : white;
}

/*.login-container form input[type="text"] {
	padding : 10px;
	margin-bottom: 5px;
}

.login-container form input[type="password"] {
	padding : 10px;
}*/